@model NewRestaurantAPI.Models.ViewModels.CustomerFoodVM

@{
    ViewData["Title"] = "Create";
}

<h3>

    Do you want to give @Model!.customer!.Name an order of @Model!.food!.FoodName?

</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createCustomerFood">

          <input type="hidden" name="customerId" value="@Model.customer.Id"/>

          <input type="hidden" name="foodId" value="@Model.food.Id"/>

            <input type="submit" value="OrderFood" class="btn btn-danger" /> |
            <a asp-action="OrderFood" asp-controller="Food"
            asp-route-id="@Model!.customer!.Id">Do not Order</a>

          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    
    <script defer type="module" src="~/js/CustomerFoodCreate.js"></script>
}
