@model IEnumerable<NewRestaurantAPI.Models.Entities.CustomerFood>

@{
    ViewData["Title"] = "Customer Food Combo";
}

<h1>Index</h1>
@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Food
            </th>
            <th>
                Transactions
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">

    </tbody>
</table>
@section Scripts {
    <script defer type="module" src="~/js/CustomerFoodIndex.js"></script>
    <script>
        const h1s = document.getElementByTagName('h1');
        h1s[0].style.backgroundColor = "blue";
    </script>
}